.h1{

    text-align: center;
    font-style: oblique;
    font-size: 5rem;
    background: lavender;
}
.genricsdiv{
    background-color: darkgrey;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center
}
.gentext{
    font-family: auto;
    font-size: 4rem
}