.album {
    border: 2px solid #1b4e5e;
    padding: 1rem;
    display: inline-flex;
    font-size: x-large;
    font-family: inherit;
    border-radius: 0.5rem;
    background-color: transparent;
}

.backgrounddiv {
    background-color: darkgrey;
    height: 12rem;
    text-align: center;
}

.plybtn{
    display: inline-flex;
    margin-top: 1rem;
    border-radius: 53%;
    padding: 2px 17px;
    font-size: xxx-large;
    background-color: transparent;
    font-family: auto;
    padding-left: 23px;
    border: 2px solid #1b4e5e;
}
/* .plybtn {
    cursor: pointer;
    display: block;
    border: 2px solid #56CCF2;
    border-radius: 50%;
    padding: 20px;
    font-size: 30px;
    font-weight: 200;
    margin: 20px auto;
    background: inherit;
    color: #56CCF2;
}
.albumbtn{
    display: block;
    border: 1px solid #56CCF2;
    padding: 15px 30px;
    font-size: 23px;
    font-weight: 200;
    margin: 10px auto;
    background: inherit;
    cursor: pointer;
    color: white;
} */

.table{
    font-family: auto;
    text-align: left;
    display: inline-block;
    margin-bottom: 4rem;
    
}
.table tr{
    border-bottom: 2px solid black;
    margin-bottom: 10px;
    
}
.table th{
    padding: 22px;
    padding-right: 60px;
}
.table td{
    padding: 22px;
    padding-right: 60px;
}
.table h1{
    text-align: center;
    margin-top: 2rem;
}