.navlink{
    margin-left: 1rem;
    font-size: larger;
    font-family: sans-serif;
    padding-right: 14%
}
.cartnumber{
    padding-left: 0.5rem;
    font-size: larger;
    font-family: cursive;
}
.genricsdiv{
    background-color: darkgrey;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center
}
.gentext{
    font-family: auto;
    font-size: 4rem
}
.a{
    color: white;
    text-decoration: none;
    margin-right: 10px
}
.active{
    color: #95bcf0;
    padding-bottom: 0.25rem;
    border-bottom: 4px solid #95bcf0;
}
.possitionfixed{
    display: none;
}